
body {
    display: grid;
    grid-template-areas: " logo bleu description"
                        " logo bleu description"
                        " logo bleu description";

    grid-gap: 5px;
    grid-template-columns: 1fr 4fr 7fr;
    align-items: start;
    justify-items: center;
    margin: 0;
    border: 5px solid white;
    border-radius: 10px;
   

    font-family: 'Bebas Neue', sans-serif;
    background-color: black;
}
.logo{ 
    grid-area: logo;
    width: 50%;
 background-color: whitesmoke;
 border-radius: 5px 50px;
 margin-right: 50%;


}
.bleu {
    grid-area: bleu;
    background-color: black;
    color: white;
    text-align: center;
    padding-right: 10%;
 
}
.description{
    grid-area: description;
    text-align: left;
    background-color: rgb(96, 97, 97);
padding-left: 10%;
color: whitesmoke;
}
